/* (home) version: 1.0.1 */

/*
  default (1.0.1)

  header
    > backgroundColor: #2b2b2b
    > textColor: #ffffff

  buttons
    > backgroundColor: #5697fa (alter #297cf9)
    > textColor: #333

  accents > textColor: #5697fa (alter #297cf9)
  promotions > textColor: #fff (alter #e8e8e8)
*/

/* header & footer (1.0.1) */

.nav-header,
.side-drawer__title {
    background: #2b2b2b;
    border-color: #2b2b2b;
}

.nav-header__hamburger {
    background: #ffffff !important;
}

.nav-list--horizontal > .nav-list__item > .nav-list__link {
    color: #ffffff !important;
}

/* Hover under elements in menu */
.nav-list__item--more:after,
.nav-list--horizontal > .nav-list__item:not(:last-child):not(:last-child):after {
    border-color: #ffffff !important;
}

/* Icons */
.nav-header__logo,
.nav-header__nav-link .nav-header__nav-icon:before,
.nav-icon-cart:before,
.nav-cart .nav-icon-cart-quantity {
    color: #ffffff !important;
}

/* Separators in the header */
.nav-header__separator,
.nav-cart:before,
.nav-header__nav-link:before {
    border-color: #ffffff !important;
    opacity: 0.1;
}
.logo {      height: auto;
    max-height: 400px;
    max-width: 400px;
    vertical-align: middle;
    width: auto; }

/* Hide QR Afip (todo: don't do it by style but by removing the element) */
footer .nav-footer-disclaimer a[href="null"] {
    display: none;
}

/* New Classes for templates */
.header--custom-background {
    background: #2b2b2b !important;
    border-color: #2b2b2b !important;
}

.header--custom-title {
    color: #2b2b2b !important;
}

.header--custom-title-container {
    background-color: #ffffff !important;
}

.header--custom-text {
    color: #ffffff !important;
}

.header--custom-border {
    border-color: #ffffff !important;
}

.header--custom-svg {
    fill: #ffffff !important;
}

.header--custom-secondary-background {
    background-color: #878787 !important;
}

.header--custom-secondary-text {
    color: #333 !important;
}

.header--custom-text a {
  color: #ffffff !important;
}
.header--custom-border.nav-list--horizontal>.nav-list__item:not(:last-child):not(:last-child):after {
  border-color: #ffffff !important;
}

/* Search box looks bad on white headers (white border - white background). We need to force gray. */


.header--custom-border:hover {
    border-color: #ffffff !important;
}
